<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>ddoMsg</display-name>
  <listener>
  	<listener-class>com.jason.ddoMsg.web.listener.InitListener</listener-class>
  </listener>
  <servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AdminServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SOAPMonitorService</servlet-name>
		<servlet-class>
			org.apache.axis.monitor.SOAPMonitorService
		</servlet-class>
		<init-param>
			<param-name>SOAPMonitorPort</param-name>
			<param-value>5001</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ChannelRequestServlet</servlet-name>
		<display-name>ChannelRequestServlet</display-name>
		<description>接收渠道的请求</description>
		<servlet-class>com.jason.ddoMsg.web.servlet.ChannelRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonitorServlet</servlet-name>
		<display-name>MonitorServlet</display-name>
		<description>监测引擎的运行情况</description>
		<servlet-class>com.jason.ddoMsg.web.servlet.MonitorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StopServiceServlet</servlet-name>
		<display-name>StopServiceServlet</display-name>
		<description>停止收发引擎</description>
		<servlet-class>com.jason.ddoMsg.web.servlet.StopServiceServlet</servlet-class>
		<init-param>  
	       <param-name>enableIp</param-name>  
	       <param-value>127.0.0.1,localhost</param-value>  
	    </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SOAPMonitorService</servlet-name>
		<url-pattern>/SOAPMonitor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChannelRequestServlet</servlet-name>
		<url-pattern>/sendXSms.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonitorServlet</servlet-name>
		<url-pattern>/MonitorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StopServiceServlet</servlet-name>
		<url-pattern>/StopServiceServlet</url-pattern>
	</servlet-mapping>
	
	
	<mime-mapping>
    		<extension>wsdl</extension>
    		<mime-type>text/xml</mime-type>
  	</mime-mapping>
  	<mime-mapping>
    		<extension>xsd</extension>
    		<mime-type>text/xml</mime-type>
  	</mime-mapping>
</web-app>
